.App {
  text-align: center;
}

@media (min-width: 1000px) {
  .AppContentContainer {
    display: flex;
    justify-content: center;
  }

  .AppContentContainerInner {
    width: 1000px;
  }
}

@media (min-width: 600px) and (max-width: 999.99px) {
  .AppContentContainer {
    padding: 0 100px;
  }
}

@media (max-width: 599.99px) {
  .AppContentContainer {
    padding: 0 10px;
  }
}
