.TrophyButtons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 60px;
}

@media (min-width: 800px) {
  .TrophyButtons {
    flex-flow: row;
  }
}

@media (max-width: 799.99px) {
  .TrophyButtons {
    flex-flow: column;
  }
}
